<template>
    <div>
        <label>
            Name
            <input type="text" v-model="input" name="name" />
        </label>
        <ErrorDisplay v-if="input" :errors="errors" />
    </div>
</template>
<script>
import useInputValidator from "@/features/useInputValidator";
import { minLength } from "@/validators";
import ErrorDisplay from "./ErrorDisplay";
export default {
    name: 'InputName',
    props: {
        value: String
    },
    setup (props, { emit }) {
        const { input, errors } = useInputValidator(
            props.value, 
            [ minLength(3) ],
            value => emit("input", value)
        );
        return {
            input,
            errors
        }
    },
    components: {
        ErrorDisplay
    }
}
</script>